configs/*
!configs/config.yaml
!configs/config_no_aug.yaml
datasets/
outputs/
weight/
*.jpg
pretrained/
**/ckpts

# experiments
notebooks/

# VSCode
*.code-workspace

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
